.btn{
    background-color: $secondColor;
    color: $lightGray;
    font-size: 1.2rem;
    letter-spacing: 1.5;
    padding: 20px 50px;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    &--project-link{
        color: $thirdColor;
        background-color: $lightGray;
        border: solid 3px $thirdColor;
        padding: 10px 20px;
        margin-top: 1rem;
        font-weight: 600;
        transition: all .2s ease-in-out;

        &:hover{
            color: $lightGray;
            background-color: $thirdColor;
        }
    }
}

.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    animation: zoom .5s;
    animation-fill-mode: forwards;
}

@keyframes zoom{
    to {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    } 
}