.project{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 30vw;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 12px 12px 6px gray;

    &--travel-site{
        background-image: url("../../assets/images/travel.jpg");
    }

                &--charles {
                    background-image: url("../../assets/images/truck.png");
                }
    
    &__content{
        background-color: $lightGray;
        position: absolute;
        width: 100%;
        bottom: 0;
        transform: translateY(calc(100% - 55px));
        transition: all .3s ease-in-out;

        &:hover{
            transform: translateY(0);
        }
    } 
    
    &__name{
        background-color: $lightGray;
        text-align: center;
        text-transform: uppercase;
        padding: 15px;
    }

    &__details{
        padding: 5px 35px 20px;
    }
}