.search-box{
    display: flex;
    position: relative;


    &__input{
        height: 100%;
        width: 15vw;
        margin-right: 3rem;
        border-radius: 0;
        border: none;
        background-color: $lightGray;
        padding: 10px 20px;
        transform: scaleX(0);
        transform-origin: right;
        transition: all .2s ease-in-out;

        &:focus{
            outline: none;
            border: solid 3px $thirdColor;
            border-right: none;
        }
    }

    &__search-btn{
        height: 100%;
        width: 3rem;
        border-radius: 0;
        border: none;
        background-color: $thirdColor;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;

        &:focus{
            outline: none;
            background-color: rgb(252, 209, 103);
        }

        span{
            transform: scale(1.2) rotate(0);
            transition: all .3s ease-in-out;
        }

        &:hover span{
            transform: scale(1.5) rotate(15deg);
        }
    }



}

.active{
    transform: scaleX(1);
}